body{
	margin: 0px;
	margin-top: -20px;
	height: 100%;
	padding: 0;
	background: #FFF;
	font-family: Century;
}
h1{
	color: #FFF;
	padding: 20px;
	text-align: center;
}
.titulo_principal{
	background: #C4EFE9;
}
.menu-navegacion{
	text-align: center;
}
.menu-navegacion ul{
	margin: 10px;
	padding: 10px;
	font-family: Arial;
}
.menu-navegacion li{
	display: inline;
}
.menu-navegacion a{
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	background: #987767;
	color: white; 
	font-familiy:Arial;
	border-radius: 5px;
}
.menu-navegacion li.activo a,
.menu-navegacion li:hover a{
	background: #F6C0C9; 
}
.informacion-personal{
	text-align: center;
	margin: 30px;
	border-bottom: 0.5px solid black;
	font-size: 25px;
	font-family: monospace;
}
.rosa{
	color: #F25BC6;
}
ul{
	list-style: none;
	text-align: center;
	font-size: 15px;
	font-family: arial;
}
.activo a:hover {
	background: 
}

.informacion-bio{
	margin:30px;
	padding:20px;
}
.circulo{
	border-radius: 50%;
}
.imagen-bio{
	float: right;
	margin-right: 100px;
}
.texto-bio{
	margin-bottom: 50px;
	margin-right: 100px;
	font-weight: bold;
	font-family: arial;
	padding-right: 300px;
}
h2{
	color: white;
	background: #D7A5CE;
	margin-right: 1025px;
}
a{
	color: black
}
.titulo-estudios{
	color: white;
	background: #ACE9C4;
	margin-right: 1025px;
}
.estudios ul{
	list-style: none;
	font-size: 30px;
	font-family: Century;
}
.titulo-exp{
	color: white;
	background: #F9A1A1;
	margin-right: 1025px;
}
span{
	font-family: arial;
	font-size: 18px;
	color: black;
	background-color:#94E7EE;	
}
.titulo.gustos{
	color: white;
	background: #D7A5CE;
	margin-right: 1025px;
}
a .links{
	
	float: right;
	font-size:40px;
	font-family: arial
	color:#0C1977;
	display: inline;
	text-decoration: none;
}